<div class="max-w-screen-xl mx-auto p-4">

    <div class="border-b border-gray-200 dark:border-gray-700">
        <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400" id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist">
            <li class="me-2" role="presentation">
                <a id="graphics-tab" data-tabs-target="#graphics" type="button" role="tab" aria-controls="graphics" aria-selected="false"
                    class="inline-flex items-center justify-center p-4 text-[#464d77ff]  border-b-2 border-[#464d77ff]  rounded-t-lg active dark:text-[#464d77ff]  dark:border-[#464d77ff]  group">
                    <svg class="w-6 h-6 me-2 text-[#464d77ff] group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M15.514 3.293a1 1 0 0 0-1.415 0L12.151 5.24a.93.93 0 0 1 .056.052l6.5 6.5a.97.97 0 0 1 .052.056L20.707 9.9a1 1 0 0 0 0-1.415l-5.193-5.193ZM7.004 8.27l3.892-1.46 6.293 6.293-1.46 3.893a1 1 0 0 1-.603.591l-9.494 3.355a1 1 0 0 1-.98-.18l6.452-6.453a1 1 0 0 0-1.414-1.414l-6.453 6.452a1 1 0 0 1-.18-.98l3.355-9.494a1 1 0 0 1 .591-.603Z" clip-rule="evenodd"/>
                      </svg>                  
                    <p class="hidden lg:block cursor-pointer">Graphics</p>
                </a>
            </li>
            <li class="me-2" role="presentation">
                <a  id="website-tab" data-tabs-target="#website" type="button" role="tab" aria-controls="website" aria-selected="false"  
                    class="inline-flex items-center justify-center p-4 text-[#464d77ff]  border-b-2 border-[#464d77ff]  rounded-t-lg active dark:text-[#464d77ff]  dark:border-[#464d77ff]  group" aria-current="page">
                    <svg class="w-6 h-6 me-2 text-[#464d77ff] group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path d="m3 2 1.578 17.824L12 22l7.467-2.175L21 2H3Zm14.049 6.048H9.075l.172 2.016h7.697l-.626 6.565-4.246 1.381-4.281-1.455-.288-2.932h2.024l.16 1.411 2.4.815 2.346-.763.297-3.005H7.416l-.562-6.05h10.412l-.217 2.017Z"/>
                      </svg>
                    <p class="hidden lg:block cursor-pointer">Website</p>
                </a>
            </li>
            <li class="me-2" role="presentation">
                <a  id="photography-tab" data-tabs-target="#photography" type="button" role="tab" aria-controls="photography" aria-selected="false"  
                    class="inline-flex items-center justify-center p-4 text-[#464d77ff]  border-b-2 border-[#464d77ff]  rounded-t-lg active dark:text-[#464d77ff]  dark:border-[#464d77ff]  group">
                    <svg class="w-6 h-6 me-2 text-[#464d77ff] group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M7.5 4.586A2 2 0 0 1 8.914 4h6.172a2 2 0 0 1 1.414.586L17.914 6H19a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h1.086L7.5 4.586ZM10 12a2 2 0 1 1 4 0 2 2 0 0 1-4 0Zm2-4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Z" clip-rule="evenodd"/>
                      </svg>                  
                    <p class="hidden lg:block cursor-pointer">Photography</p>
                </a>
            </li>
            <li class="me-2" role="presentation">
                <a  id="videography-tab" data-tabs-target="#videography" type="button" role="tab" aria-controls="videography" aria-selected="false" 
                    class="inline-flex items-center justify-center p-4 text-[#464d77ff]  border-b-2 border-[#464d77ff]  rounded-t-lg active dark:text-[#464d77ff]  dark:border-[#464d77ff]  group">
                    <svg class="w-6 h-6 me-2 text-[#464d77ff] group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M14 7a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7Zm2 9.387 4.684 1.562A1 1 0 0 0 22 17V7a1 1 0 0 0-1.316-.949L16 7.613v8.774Z" clip-rule="evenodd"/>
                      </svg>                  
                    <p class="hidden lg:block cursor-pointer">Videography</p>
                </a>
            </li>
        </ul>
    </div>

    <div id="default-tab-content">
        <div id="photography" role="tabpanel" aria-labelledby="photography-tab" class="hidden">
            <app-photography [photographyItems]="allItems"></app-photography>
        </div>
        <!-- end -->

        <div id="videography" role="tabpanel" aria-labelledby="videography-tab" class="hidden">
            <app-videography></app-videography>
        </div>
<!-- end -->
        <div id="graphics" role="tabpanel" aria-labelledby="graphics-tab" class="hidden">
           <app-graphic [graphicItems]="allItems" ></app-graphic>
        </div>

        <!-- end -->

        <div id="website" role="tabpanel" aria-labelledby="website-tab" class="hidden">
            <app-website [websiteItems]="allItems"></app-website>
        </div>
    </div>
</div>
