<div class="p-4 max-w-lg mx-auto">
    <div class="text-3xl py-5"> Gallery upload</div> 

    <div class="bg-gray-300 rounded-md shadow-lg p-3 pb-6">
        <form [formGroup]="uploadFormGroup">
            <div class="flex items-center justify-center w-full py-3">
                <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                    <div class="flex flex-col items-center justify-center pt-5 pb-6">
                        <img class="max-w-full rounded-lg h-60" id="blah" [src]="imageSrc || 'http://placehold.it/180'" alt="your image" />
                    </div>
        
                    <input formControlName="file" id="dropzone-file" accept="image/png, image/gif, image/jpeg" type="file" (change)="readURL($event);" class="hidden" />
                </label>
            </div> 
    
            <div class="grid  grid-cols-1 sm:grid-cols-2 gap-3 ">
                <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                    <input formControlName="name" type="text" id="email" aria-describedby="helper-text-explanation" class="file:bg-[#368280] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com">          
                </div>
                <div>
                    <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Category</label>
                    <select formControlName="category" id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option>Graphic</option>
                        <option>Photography</option>
                        <option>Website</option>
                        <option>Other</option>
                    </select>
                </div>
          
            </div>
        </form>
        <button (click)="uploadFile()" class="bg-[#368280]   hover:bg-[#1c555387] mt-4 text-white rounded-md px-3 py-2">Upload</button>
    </div>
    
</div>
