<div>
    <div class="text-3xl text-[#464d77ff] font-semibold">
        Photoshoot Services
    </div>
    <div class="py-5 border-b border-gray-200 dark:border-gray-700 grid grid-cols-1 sm:grid-cols-2 gap-5">

        <a (click)="goDown1('studiosession')" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="./../../../../assets/harry-cunningham-UWblg2i6Blw-unsplash.jpg" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Studio Sessions</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    Explore our studio session options: full-hour photography, couple shoots, family portraits, headshots, and 
                    mini-studio for social media, business, and CV updates. Book now!
                </p>
            </div>
        </a>

        <a (click)="goDown1('productphotography')" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="./../../../../assets/krists-luhaers-YhC216tAYAg-unsplash.jpg" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Product Photography</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    Our product photography covers various backgrounds and includes specialized shots for food and reflective items. 
                    Simply drop off your products at our Sundowner studio, and we'll handle the rest. Edited photos will be available online for download.</p>
                
            </div>
        </a>
        
        <a (click)="goDown1('sessiononlocation')" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="./../../../../assets/karl-magnuson-85J99sGggnw-unsplash.jpg" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Sessions On Location​</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    I love photography because it captures timeless moments. From engagements to family portraits, 
                    photos help us relive special occasions. Shots can be taken in your garden, venue, or nearby park.
                </p>
            </div>
        </a>

        <a (click)="goDown1('wedding')" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="./../../../../assets/jeremy-wong-weddings-K8KiCHh4WU4-unsplash.jpg" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Weddings</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    I'm a Gauteng-based wedding & lifestyle photographer. My style is simple & relaxed, focusing on capturing raw 
                    emotions and unique details to create timeless photographs you'll cherish forever.    
                </p>
            </div>
        </a>

        <a (click)="goDown1('eventphotography')" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="./../../../../assets/sam-mathews-wZjJxOx8FPI-unsplash.jpg" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Event Photography
                    ​</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    we understand the importance of capturing timeless memories. With our artistically professional yet unobtrusive approach, we ensure every special moment, 
                    whether it's a wedding, anniversary, or child's party, is preserved for you to cherish forever.    
                </p>
            </div>
        </a>

        <a (click)="goDown1('photobooks')" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="./../../../../assets/roberto-nickson-wqDMyzP_CZI-unsplash.jpg" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Photo Books</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    Revitalize your memories! We scan and restore old photos, creating a beautiful Coffee Table Book. Perfect for gifts!
                </p>
            </div>
        </a>

      </div>


    <div id="studiosession">
        <div class="text-2xl text-gray-600 font-semibold py-7">
            Studio Sessions
        </div>
        <div class="grid gap-4 grid-cols-1 sm:grid-cols-3 mt-5">
            <div *ngFor="let item of photographyItems; index as i">
                <div *ngIf="item.itemSubCategory == 'Studio Sessions'" class="border-l-8 border-[#464d77ff] bg-gray-100 shadow-lg rounded-md p-2">
                    <h2 class="text-2xl text-[#464d77ff]">{{ item.itemName }}</h2>
                    <span *ngFor="let itemList of item.itemList; index as j" class="text-sm text-gray-500">
                            {{ itemList }} <br>
                    </span>
                    <div class="text-md font-medium">R {{ item.itemPrice }}.00</div>
                    <button (click)="dataStorageService1.addQuoteRequest(item)" class=" bg-[#368280]   hover:bg-[#1c555387] mt-4 text-white rounded-md px-3 py-2">Request Quote</button>
                </div>
            </div>
        </div>
    </div>

    <div id="productphotography">
        <div class="text-2xl text-gray-600 font-semibold py-7">
            Product Photography
        </div>
        <div class="border-l-8 border-[#464d77ff] bg-gray-100 shadow-lg rounded-md p-2 mt-4">
            <h2 class="text-2xl text-[#464d77ff]">Product Items</h2>
            <span class="text-4xl text-red-600">
                Coming Soon
            </span>
        </div>
    </div>

    <div id="sessiononlocation">
        <div class="text-2xl text-gray-600 font-semibold py-7">
            Session on Location
        </div>

        <div class="grid gap-4 grid-cols-1 sm:grid-cols-3 mt-5">

            <div *ngFor="let item of photographyItems; index as i">
                <div *ngIf="item.itemSubCategory == 'On location'" class="border-l-8 border-[#464d77ff] bg-gray-100  shadow-lg rounded-md p-2">
                    <h2 class="text-2xl text-[#464d77ff]">{{ item.itemName }}</h2>
                    <span *ngFor="let itemList of item.itemList; index as j" class="text-sm text-gray-500">
                            {{ itemList }} <br>
                    </span>
                    <div class="text-md font-medium">R {{ item.itemPrice }}.00</div>
                    <button (click)="dataStorageService1.addQuoteRequest(item)" class=" bg-[#368280]   hover:bg-[#1c555387] mt-4 text-white rounded-md px-3 py-2">Request Quote</button>
                </div>
            </div>
        </div>




    </div>

    <div id="wedding">
        <div class="text-2xl text-gray-600 font-semibold py-7">
            Wedding
        </div>
        <div *ngFor="let item of photographyItems; index as i">
            <div *ngIf="item.itemSubCategory == 'Base Photography Package'" class="border-l-8 border-[#464d77ff] bg-gray-100  shadow-lg rounded-md p-2">
                <h2 class="text-2xl text-[#464d77ff]">{{ item.itemName }}</h2>
                <span *ngFor="let itemList of item.itemList; index as j" class="text-sm text-gray-500">
                        {{ itemList }} <br>
                </span>
                <div class="text-md font-medium">R {{ item.itemPrice }}.00</div>
                <button (click)="dataStorageService1.addQuoteRequest(item)" class=" bg-[#368280]   hover:bg-[#1c555387] mt-4 text-white rounded-md px-3 py-2">Request Quote</button>
            </div>
        </div>

        <div class="mt-5 border-l-8 border-[#464d77ff] bg-gray-100 shadow-lg rounded-md p-2">

            <div class="grid gap-4 grid-cols-2 sm:grid-cols-2">

                

                <div class="">
                    <h2 class="text-2xl text-gray-800">Base Photography Package </h2>
                    <span class="text-md">
                        We specialise in small and intimate weddings where our time on location ranges from 3 to 5 hours.
                        The Base Package is our smallest, but you can build up your photography requirements from the Photography Extras list below.
                        You will receive High resolution (for printing) + Low resolution (for social media) photos.  You should get roughly 50 photos for every hour booked.
                    </span>
                </div>

                <div class="">
                    <h2 class="text-lg text-gray-800">Include</h2>
                    <span class="text-sm text-gray-500">
                        3 Hours of Photography <br>
                        Ceremony & Signing <br>
                        Family & Entourage Shoot <br>
                        Couple Shoot <br>
                        Cake Cutting <br>
                        Reception & Venue Decor <br> 
                        All Guests <br>
                        Min 150 photos <br>
                    </span>
                </div>
            </div>

            <div class="text-md font-medium">R 5800.00</div>
            <button class=" bg-[#368280]   hover:bg-[#1c555387] mt-4 text-white rounded-md px-3 py-2">Request Quote</button>
            
        </div>




    </div>

    <div id="eventphotography">
        <div class="text-2xl text-gray-600 font-semibold py-7">
            Event Photography
        </div>

        <!-- <div class="grid grid-cols-2 gap-2">
            <div>
                <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" alt="">
            </div>
        </div> -->

        <div class="border-l-8 border-[#464d77ff] bg-gray-100 shadow-lg rounded-md p-2 mt-4">
            <h2 class="text-2xl text-[#464d77ff]">Whole event</h2>
            <span class="text-sm text-gray-500">
                This is the price for photography services for the whole event. It includes event coverage at your location, image editing, and digital image files. 
                The price depends on the type of event (private or corporate), your location and the photographer's expertise and experience. 
                Additional costs may apply for travel time, prints, 
                full rights to the images, etc. For event photography.
            </span>
            <div class="text-md font-medium">From :</div>
            <div class="text-md font-medium">R 800.00</div>
            <button class=" bg-[#368280]   hover:bg-[#1c555387] mt-4 text-white rounded-md px-3 py-2">Request Quote</button>
        </div>

    </div>

    <div id="photobooks">
        <div class="text-2xl text-gray-600 font-semibold py-7">
            Photo Books
        </div>

        <div class="border-l-8 border-[#464d77ff] bg-gray-100 shadow-lg rounded-md p-2 mt-4">
            <h2 class="text-2xl text-[#464d77ff]">Product Items</h2>
            <span class="text-4xl text-red-600">
                Coming Soon
            </span>
        </div>

        <!-- <div class="grid grid-cols-5 gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-5.jpg" alt="">
            </div>
        </div> -->

        <!-- <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 mt-5">

            @for(item of photographyItems; track item){
                @if (item.itemSubCategory == "photobook"){

                    <div class="border-l-8 border-[#464d77ff] bg-gray-100 shadow-lg rounded-md p-2">
                        <h2 class="text-2xl text-[#464d77ff]">{{ item.itemName }}</h2>
                        <span class="text-sm text-gray-500">
                            @for(itemList of item.itemList; track itemList){
                                {{ itemList }} <br>
                            }
                        </span>
                        <button (click)="dataStorageService1.addQuoteRequest(item)" class=" bg-[#368280]   hover:bg-[#1c555387] mt-4 text-white rounded-md px-3 py-2">Request Quote</button>
                    </div>
                }
            } 
        </div> -->
    </div>

</div>