<div>
    <div class="text-3xl text-[#464d77ff] font-semibold py-4">Videography services</div>
    <p class="py-5">
        We pride ourselves in providing the highest quality and creative content. We don’t just shoot to get the job done, but to create moments that engage for years to come.
        We use the highest quality equipment and stay up-to-date with the ever changing needs of digital trends.
    </p>

    <div class="py-2 rounded-md">        
        <video class="w-full" controls>
            <source src="https://drive.google.com/drive/u/1/folders/1Ex-YtE55xxZOgdEWaplAYjNLpH3SCo5q" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 py-2">
        
        <a href="#" class="block max-w-sm p-6 bg-[#36827f87] border border-gray-200 rounded-lg shadow  dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-[#464d77ff] dark:text-white">Events: <span class="text-lg">birthday celebration & weddings</span></h5>
            <p class="font-normal text-white dark:text-gray-400">Special events need creative input, video productions that go beyond the ordinary.</p>
            <span class="text-4xl text-red-600">Coming Soon</span>
        </a>

        <a href="#" class="block max-w-sm p-6 bg-[#464d77ff] border border-gray-200 rounded-lg shadow  dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-400 dark:text-white">Podcast</h5>
            <p class="font-normal text-gray-50 dark:text-gray-400"> Our podcast videography services capture the essence of your podcast with professional quality, 
                ensuring your content stands out and engages your audience.</p>
            <span class="text-4xl text-red-600">Coming Soon</span>
        </a>

        <a href="#" class="block max-w-sm p-6 bg-gray-300  border border-gray-200 rounded-lg shadow  dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Music Video</h5>
            <p class="font-normal text-gray-500 dark:text-gray-400">Transform your music into stunning visuals with our creative and professional music video production services, ensuring your work stands out and captivates your audience.</p>
            <span class="text-4xl text-red-600">Coming Soon</span>
        </a>
    
    </div>
</div>