<div class="p-4">
    <div class="flex justify-between py-2">
        <div ><p class="text-3xl">To-do</p></div>
        <div ><button (click)="openDialog()" class="bg-[#368280]   hover:bg-[#1c555387] mt-4 text-white rounded-md px-3 py-2">Add</button></div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-4 gap-2">

        <div *ngFor="let todo of todos">
            <div  [class]="todo.done ? 'bg-green-200 block max-w-sm p-6  border border-green-300 rounded-lg shadow hover:bg-gray-100' : 'bg-white block max-w-sm p-6  border border-gray-200 rounded-lg shadow hover:bg-gray-100'">
                <h5 class="mb-2 text-lg font-bold tracking-tight text-[#464d77ff] dark:text-white">{{ todo.todoTitle }}</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">{{ todo.todoDescription }}</p>
                <div class="flex flex-row">
                    <button (click)="markDone(todo)" class="bg-green-400 rounded-full m-1 shadow-sm">
                        <svg class="w-[31px] h-[31px] text-gray-200 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3" d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                        </svg>                          
                    </button>
                    <button (click)="openDialog(todo)" class="bg-yellow-300 rounded-full m-1 shadow-sm">
                        <svg class="w-[31px] h-[31px] text-gray-200 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                        </svg>                          
                    </button> 
                    <button (click)="removeUserFromList(todo)" class="bg-red-500 rounded-full m-1 shadow-sm">
                        <svg class="w-[31px] h-[31px] text-gray-200 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                        </svg>                          
                    </button>    
                </div>
            </div>   
        </div>
    </div>

</div>